.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new_button {
  background-color: #697bff;
  border: none;
  font-size: 14px;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #4d5bc7;
  }
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}