.transaction-editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction-input > p {
    font-size: 14px;
    font-weight: bold;
}

.transaction-input > select, input {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #2e303f;
    padding: 18px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.transaction-input > input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    position: absolute;
    right: 40px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0 40px 0;
}

.button-save {
    background-color: #697bff;
    border: none;
    font-size: 14px;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: #4d5bc7;
    }
}

.button-cancel {
    background-color: #e64a4a;
    border: none;
    font-size: 14px;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: #c74d4d;
    }
}